[Unit]
Description=create backup of minecraft server

[Service]
ExecStart=/usr/bin/bash /srv/save/save.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
