service :cat etc/systemd/system/MCserv.service
[Unit]
Description=Service d'automatisation de serveur Minecraft

[Service]
ExecStart=bash /MC_server_install.sh

[Install]
WantedBy=multi-user.target


sudo systemctl daemon-reload